 /* Element Selector*/
 p{
    border: 2px solid blue;
}
/* id selector */   
#redElements{
        color:red;
    }
    /* class selector */
    .bgYellow{
        color: blue;
        background-color: yellow;
    }
   /* grouping selector */
    footer, span{
        color: rgb(40, 134, 160) ;
        background-color: pink;
        
    }